=customInput()
  position: relative
  cursor: pointer

  display: flex
  justify-content: center
  align-items: center

  box-sizing: border-box
  width: 26px
  height: 26px

  border: 2px $black solid

  &::after
    position: absolute
    content: ''
    opacity: 0

    transition: .2s

  @media screen and (max-width: 700px)
    width: 20px
    height: 20px

    border: 2px $black solid

div.build-tour-age-check
  height: 64px


div.age-radio-buttons-container
  display: inline-flex
  gap: 31px


label.age-radio-button
  display: inline-flex
  align-items: center
  gap: 11px

  div.age-radio-button__custom-checkbox
    +customInput
    border-radius: 50%

    &::after
      width: 12px
      height: 12px

      background: $black
      border-radius: 50%

  h4.age-radio-button__label
    margin: 0
    font-weight: 400
    font-size: 20px
    line-height: 28.4px

  input.age-radio-button__input
    display: none

    &:checked + div.age-radio-button__custom-checkbox::after
        opacity: 1


label.license-agreement
  display: inline-flex
  align-items: center
  gap: 19px

  div.license-agreement__custom-checkbox
    +customInput
    border-radius: 5px

    &::after
      width: 7px
      height: 12px

      top: 13%
      rotate: 45deg

      border-right: 2px $black solid
      border-bottom: 2px $black solid

  input.license-agreement__checkbox
    display: none

    &:checked + div.license-agreement__custom-checkbox::after
      opacity: 1

  p.license-agreement__contract, a.license-agreement__link
    margin: 0
    font-size: 17px
    color: $gray300
    letter-spacing: -0.01em

  a.license-agreement__link
    color: $black
    text-decoration: none
    border-bottom: 1px transparent solid
    transition: .2s

    &:hover
      border-bottom: 1px $black solid

    &:active
      color: $green400
      border-bottom: 1px $green400 solid


@media screen and (max-width: 1300px)
  label.license-agreement
    display: inline-flex
    align-items: center
    gap: 11px


@media screen and (max-width: 700px)
  div.build-tour-age-check
    height: 54px

  div.age-radio-buttons-container
    gap: 30px

    div.age-radio-button__custom-checkbox::after
      width: 10px
      height: 10px

  label.age-radio-button
    gap: 10px

    h4.age-radio-button__label
      font-size: 16px
      line-height: 23px

  label.license-agreement
    align-items: flex-start

    p.license-agreement__contract, a.license-agreement__link
      font-size: 16px
      line-height: 23px

    p.license-agreement__contract
      width: 248px
