section.feedback
  +sectionInit


div.container
  width: 100%
  display: inline-flex
  justify-content: center
  gap: 30px


@media screen and (max-width: 1300px)
  div.container
    gap: 18px
    width: 90%


@media screen and (max-width: 700px)
  div.container
    align-items: center
    flex-direction: column
    margin-top: 10px