@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')

$black: #1B1F2B
$white: #FFFF

$orange200: #EFA501
$orange100: #F8E6BE

$green400: #286562
$green300: #3B7E7B
$green200: #627F7E
$green100: #E0F0E5

$grey300: #A6A6A6
$grey200: #D9DFDB
$grey100: #F1F3F2

$beige200: #F4F0E9
$beige100: #F9F7F4

$mercury: #e5e5e5

body
  font-family: "Roboto", serif
  font-weight: 400
  max-width: 100%
  overflow-x: hidden
  background: $mercury

=underline ($color, $height)
  border-bottom: $height transparent solid
  transition: .2s

  &:hover
    border-bottom: $height $color solid

=sectionInit ()
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 100%
  margin-top: 135px
  @media screen and (max-width: 700px)
    margin-top: 75px
